<script type='module'>
    document.title = 'Sing up';
    
    import {initializeApp} from 'https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js';
    import {getAnalytics} from 'https://www.gstatic.com/firebasejs/9.6.1/firebase-analytics.js';

    const firebaseConfig = {
        apiKey: 'AIzaSyDPP_-0Z4JEsa106LqjWZVwJ4AtzASeKsk',
        authDomain: 'auth.chatglobal.ml',
        projectId: 'chat-global-app',
        storageBucket: 'chat-global-app.appspot.com',
        messagingSenderId: '426428410895',
        appId: '1:426428410895:web:d39db6cc34309abad8c77a',
        measurementId: 'G-5W752PHRL0'
    };

    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
    
    firebase.initializeApp(firebaseConfig);
    firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document.getElementById('signup')
        .addEventListener('submit', async (event) => {
            event.preventDefault();

            const login = event.target.login.value;
            const password = event.target.password.value;

            const { user } = await firebase.auth()
                .createUserWithEmailAndPassword(login, password);
            
            const idToken = await user.getIdToken();

            await fetch('/sessionLogin', {
                method: 'POST',
                headers: {
                    Accept: 'application/json',
                    'Content-Type': 'application/json',
                    'CSRF-Token': Cookies.get('XSRF-TOKEN')
                },
                body: JSON.stringify({idToken})
            });

            await firebase.auth().signOut();
            
            window.location.assign('/interchat/es');

            return false;
        });
</script>
