::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}
    
::-webkit-scrollbar-corner {
    background: var(--main-bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-opacity-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-color);
}

::-webkit-scrollbar-opacity-color {
    background: var(--scrollbar-opacity-color);
}

::-webkit-scrollbar-opacity-color:hover {
    background: var(--scrollbar-color);
}

body {
    background-color: var(--main-bg-color);
    scrollbar-color: var(--scrollbar-color) transparent;
    color: var(--main-text-color);
    font-size: 12px;
    font-family: var(--main-font-family);
    white-space: nowrap;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#particles-container {
    animation: 10s ease-out 0s 1 fadeIn;
}

.register-card {
    width: 337px;
    background-color: var(--secondary-bg-color);
    position: absolute;
    animation: 1s ease-out 0s 1 fadeIn;
}

.title-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.control-group {
    margin-bottom: 20px;
}

input {
    width: 100%;
    text-align: center;
    background-color: var(--main-text-color);
    border: 3px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    transition: border .5s;
}

input:focus {
    outline: none;
    border: 3px solid var(--accent-color);
    box-shadow: none;
}

.btn {
    width: 100%;
    background: var(--accent-opacity-color);
    color: var(--main-text-color);
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
}

.btn:hover {
    background-color: var(--accent-color);
}

.btn:focus, .btn:active {
    outline-color: var(--accent-opacity-color) !important;
    background-color: var(--accent-color);
}

.btn:disabled {
    background-color: var(--accent-opacity-color);
}

.login-link {
    font-size: 12px;
    color: var(--muted-text-color);
    display: block;
}

.login-link:hover {
    color: var(--accent-color) !important;
}

.hidden {
    display: none !important;
}

#error_notification {
    animation: 1s ease-out 0s 1 fadeIn;
}

#error_notification_text {
    text-align: left;
    white-space: initial;
}
