
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

:root {
  --accent-color: #5865F2;
  --accent-opacity-color: #5865f2cc;
  --main-text-color: #dcddde;
  --muted-text-color: #72767d; 
  --main-bg-color: #23272a;
  --secondary-bg-color: #2c2f34;
  --scrollbar-color: #36393f;
  --scrollbar-opacity-color: #36393f80;
  --main-font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#load-screen {
    height: 100vh;
    width: 100vw;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    position: absolute;
}

#load-image {
    height: 125px;
    width: 125px;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    display: block;
    margin: 0 auto;
    animation: 1s ease-out 0s 1 fadeIn;
}
