
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#load-screen {
    height: 100vh;
    width: 100vw;
    background-color: #282d30;
    color: #fff;
    position: absolute;
}

#load-image {
    height: 125px;
    width: 125px;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    display: block;
    margin: 0 auto;
    animation: 1s ease-out 0s 1 fadeIn;
}
