#load-screen {
    height: 100vh;
    width: 100vw;
    background-color: #000;
    color: #fff;
    position: absolute;
}

#load-image {
    height: 125px;
    width: 125px;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    display: block;
    margin: 0 auto;
}
